body {
  background: #f0f0f0;
  font-family: Arial;
}

.card {
  width: 350px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: royalblue;
  color: white;
  border: none;
  cursor: pointer;
}
